<textarea class="chat-input__text-area"
  name="chat"
  dir="auto"
  id="chat-input-textarea"
  {{#if isMobile}}
  placeholder="Touch here to type a chat message."
  {{else}}
  placeholder="Click here to type a chat message. Supports GitHub flavoured markdown."
  autofocus
  autocomplete="off"
  autocorrect="off"
  {{/if}}
  maxlength="4096">{{value}}</textarea>
